.board-header-member-box {
    width: 274px;
    margin: 0px 403px;
    align-items: center;
    position: absolute;
}

.card-details-member-container {
    width: 300px;
    margin: -89px 321px;
    align-items: center;
    position: absolute;
}

.members-container {
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    width: 300px;
    height: 400px;
    z-index: 20;
    position: absolute;
    top: 90.5px;
    border-radius: 3px;
    right: 10px;
    background-color: white;

    .add-member-header {
        align-items: center;
        border-bottom: 0.2px solid rgba(94, 108, 132, 0.25);
        font-size: 14px;
        margin: 0 12px 12px;
        height: 40px;
        padding: 0 5px;

        h3 {
            flex-grow: 2;
            margin: auto;
            text-align: center;
            font-family: "montserrat", sans-serif;
            font-weight: 500;
        }
    }

    .member-close-btn {
        border: none;
        outline: none;
        background-color: unset;
        font-weight: 500;
        font-family: "montserrat", sans-serif;
        cursor: pointer;
        border-radius: 3px;
        font-size: rem(18px);

        &:hover {
            background-color: rgba(34, 34, 34, 0.13);
        }
    }

    .new-member-list {
        color: $clr6;
        font-size: 14px;
        margin-bottom: 4px;
        padding: 4px;
        border-radius: 3px;
        cursor: pointer;
        overflow: hidden;
        min-height: 43px;
        height: 79%;
        overflow-y: auto;
        -webkit-tap-highlight-color: transparent;
        .member-items {
            line-height: 40px;

            &:hover {
                background-color: rgba(9, 30, 66, 0.04);
            }
        }

        .member-item {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 32px;
            margin: 5px 10px;
            text-align: center;
            font-weight: 700;
            background-size: cover;
        }

        .checked-member {
            width: 26px;
            background-color: unset;
            border: none;
            outline: none;
            opacity: 1;

            img {
                width: 100%;
                opacity: 0.8;
            }
        }

        .unchecked-member {
            width: 26px;
            background-color: unset;
            border: none;
            outline: none;
            opacity: 0;

            img {
                width: 100%;
                opacity: 0;
            }
        }
    }
}

@media (max-width: 670px) {
    .header-members {
        right: 240px;
    }
}

@media (max-width: 440px) {
    .header-members {
        top: 123px;
        right: 360px;
    }
}

.member-filter {
    margin-left: 15px;
    width: 90%;
}
