.board-photos {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 15px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  .menu-img-box {
    width: 120px;
    height: 96px;
    .board-photos-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      opacity: 1;
      cursor: pointer;
    }
  }
}
