.card-details {
  background-color: gray;
  position: fixed;
  top: 1rem;
  left: 50%;
  width: 80%;
  height: 500px;
  transform: translate(-50%, 50%);

  .title-input {
    width: 100%;
  }
}

.modalcover {
  background-color: rgba(0, 0, 0, 0.267);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
