.card-side{
    height: 280px;
    justify-content: space-around;

    .card-side-header{
        display: block;
        color: #5e6c84;
        font-size: rem(14px);
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 0 8px 4px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .side-btn{
        background-color: rgba(9,30,66,.04);
        width: 170px;
        font-family: 'montserrat', sans-serif;
        box-shadow: none;
        border: none;
        outline: none;
        border-radius: 3px;
        box-sizing: border-box;
        cursor: pointer;
        height: 32px;
        margin-top: 8px;
        max-width: 300px;
        overflow: hidden;
        padding: 6px 12px;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: flex;

        &:hover{
            background-color: rgba(9,30,66,.08);
        }

        &:active{
            background-color: rgba(9,30,66,.08);
        }

        img{
            width: 15px;
            height: 15px;
            opacity: 0.8;
            margin-right: 10px;
        }
    }

    .date-time-picker{
        z-index: 2000;
        cursor: pointer;
        width: 300px;

    }
}