.card-preview {
    border-radius: 3px;
    position: relative;

    .lower-card{
        padding: 6px 8px;
    }
    &:hover {
        .show-preview-details-btn {
            opacity: 0.5;
        }
    }
    .card-img-cover {
        min-height: 100px;
        background-size: cover;
        border-radius: 3px;
        width: 100%;
        margin-bottom: 2px;
    }

    .card-color-cover {
        width: 100%;
        height: 20px;
        border-radius: 3px;
        margin-bottom: 2px;
    }
    .show-preview-details-btn {
        border: 0;
        background-color: unset;
        position: absolute;
        left: 85.5%;
        top: 4px;
        z-index: 6;
        opacity: 0.6;
        width: 27px;
        height: 24px;
        outline: 0;
        opacity: 0;
        // visibility: hidden;
        transition: opacity 0.4s;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
        .show-preview-details-pen {
            width: 27px;
            background-color: #ebecf0;
            padding: 3px;
        }
    }
}

.label-container {
    flex-wrap: wrap;
    .card-label {
        // max-width: 44px;
        // min-width: 44px;
        // height: 10px;
        // margin: 0 4px 4px 0;
        // border-radius: 4px;
        cursor: pointer;
        // transition: text-overflow 0.8s;
        // -webkit-font-smoothing: antialiased;
        // opacity: 0.8;
        border-radius: 3px;
        border: none;
        font-size: 0.75rem;
        font-weight: 700;
        margin: 3px;
        min-width: 40px;
        max-width: 100%;
        padding: 0 2px;
        text-align: center;
        overflow: hidden;
        min-height: 8px;
        transition: min-width 1s, min-height 0.5s, opacity 0.5s;
        color: white;

        &:hover {
            opacity: 1;
        }

        &.open {
            min-width: 45px;
            transition: min-width 1s, min-height 0.5s, opacity 0.5s;
        }
    }
}

.card-extras-container {
    align-items: center;
    flex-wrap: wrap;
    .preview-members-container {
        .member {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            line-height: 28px;
            margin: 0 1px;
            background-color: rgb(63, 138, 252);
        }
    }

    .dueDate-container:hover {
        // background-color: ;
    }

    .dueDate,
    .comments,
    .checklist {
        font-size: 12px;
        margin-left: 7px;
    }

    img {
        width: 15px;
        height: 15px;
        opacity: 0.7;
    }
}
