.card-preview {
    border-radius: 3px;
    position: relative;

    .lower-card {
        padding: 6px 8px;
        pre {
            white-space: pre-wrap;
        }
    }
    &:hover {
        .show-preview-details-btn {
            opacity: 0.5;
        }
    }
    .card-img-cover {
        min-height: 100px;
        background-size: cover;
        border-radius: 3px;
        width: 100%;
        margin-bottom: 2px;
    }

    .card-color-cover {
        width: 100%;
        height: 20px;
        border-radius: 3px;
        margin-bottom: 2px;
    }
    .show-preview-details-btn {
        border: 0;
        background-color: unset;
        position: absolute;
        left: 87.5%;
        top: 4px;
        z-index: 6;
        opacity: 0.6;
        width: 23px;
        height: 23px;
        outline: 0;
        opacity: 0;
        // visibility: hidden;
        transition: opacity 0.4s;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
        .show-preview-details-pen {
            width: 21px;
            background-color: #ebecf0;
            padding: 3px;
        }
    }
}

.label-container {
    flex-wrap: wrap;
    opacity: 0.8;

    .card-label {
        cursor: pointer;
        border-radius: 3px;
        border: none;
        font-size: 0.75rem;
        font-weight: 700;
        margin: 3px;
        min-width: 40px;
        max-width: 100%;
        padding: 0 2px;
        text-align: center;
        overflow: hidden;
        min-height: 8px;
        transition: min-width 1s, min-height 0.5s, opacity 0.5s;
        color: white;

        &.open {
            min-width: 45px;
            transition: min-width 1s, min-height 0.5s, opacity 0.5s;
        }
    }
    &:hover {
        opacity: 1;
    }
}

.card-extras-container {
    align-items: center;
    flex-wrap: wrap;
    .preview-members-container {
        .member {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            line-height: 28px;
            margin: 1px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .chec-klist-container .comments-contaniner .dueDate-container {
        line-height: 16px;
        padding: 1px;
    }

    .dueDate,
    .comments,
    .chec-klist {
        font-size: 12px;
        margin-left: 3px;
    }

    img {
        width: 15px;
        height: 15px;
        opacity: 0.7;
    }
}

.complete {
    background-color: #61bd4f;
    border-radius: 3px;
    color: #fff;
    padding: 2px 0 0 2px;

    img {
        filter: invert(1);
    }
}

.red {
    background-color: #eb5a46;
    border-radius: 3px;
    color: #fff;
    padding: 1px 1.5px;

    img {
        filter: invert(1);
    }
}
