.card-info {
  flex-grow: 1;

  & > * {
    margin-bottom: 18px;
  }

  .members {
    flex-wrap: wrap;
    margin-left: 28px;
    .members-header {
      display: block;
      color: #5e6c84;
      font-size: rem(14px);
      font-weight: 700;
      letter-spacing: 0.04em;
      line-height: 16px;
      margin-top: 16px;
      text-transform: uppercase;
      line-height: 20px;
      margin: 0 8px 4px 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }

  .card-labels-section {
    margin-left: 28px;
    .labels-container {
      flex-wrap: wrap;
    }
  }

  .card-label-h2 {
    display: block;
    color: #5e6c84;
    font-size: rem(14px);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0 8px 4px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .label-btn {
    border-radius: 3px;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    margin: 0 4px 4px 0;
    min-width: 40px;
    padding: 0 12px;
    width: fit-content;
    color: #fff;
    border: none;
  }

  .card-description {
    .desc-img {
      width: 20px;
      height: 20px;
      opacity: 0.8;
      margin-right: 9px;
    }

    h3{
      line-height: 1.4;
      margin-bottom: 0px;
    }
  }

  .desc-textarea {
    background-color: rgba(9, 30, 66, 0.04);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    width: 90%;
    min-height: 100px;
    margin-left: 28px;
    font-family: "montserrat", sans-serif;

    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }

    &:focus {
      box-shadow: inset 0 0 0 2px #0079bf;
      background-color: #fff;
      outline: none;
      padding: 8px 8px 8px 4px;
      min-height: 100px;
    }
  }


  .due-date-wrapper {
    margin-left: 28px;
  }

  .due-date-h2 {
    display: block;
    color: #5e6c84;
    font-size: rem(14px);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0 8px 4px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .due-date {
    background-color: rgba(9, 30, 66, 0.04);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
    margin-top: 8px;
    max-width: 200px;
    overflow: hidden;
    padding: 6px 12px;
  }
}

.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }