.card-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 66vh;
  margin-right: 5px;
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.274);
  }
}

@media (min-width: 420px) {
  .card-list {
    max-height: 74vh;
  }
}
