.statistics-page {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  canvas:not(:first-child) {
    background-color: rgba(255, 255, 255, 0.836);
    margin-top: 10px;
    border-radius: 3px;
  }
  h1 {
    color: #fff;
    text-align: center;
    padding-top: 10px;
  }
  .dashboard-header {
    justify-content: center;
    .dashboard-preview {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 0.5rem 0.75rem;
      background-color: #fff;
      font-size: 1.5rem;
      border-radius: 0.3125rem;
      margin: 1rem 0.8rem;
      border-radius: 5px;
      background-color: #fbfbfbc7;
    }
  }
}
.dashboard-content {
  height: 560px !important;
  width: 530px !important;
  flex-wrap: wrap !important;
  margin: 0 auto !important;
}
@media (max-width: 540px) {
  .dashboard-content {
    // height: 400px !important;
    max-width: 450px !important;
    flex-wrap: wrap !important;
    margin: 0 auto !important;
  }
}
