.app-header{

    align-items: center;

    .board-header-btn{
        border-radius: 3px;
        color: #172b4d;
        cursor: pointer;
        border: none;
        height: 32px;
        margin: 0 4px 4px 0;
        max-width: 220px;
        padding: 0 10px ;
        align-items: center;
        background-color: rgba(34, 34, 34, 0.11);

        &:hover{
            background-color: rgba(34, 34, 34, 0.185);  
        }

        h3{
            margin: 0;
            margin-right: 10px;
        }
    }

    .header-members{
        align-items: center;
    }

    .header-member{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        margin-left: 5px;
        border: 1px solid black;
        text-align: center;
        background-color: gray;
    }

    .add-member{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        margin-left: 5px;
        border: 1px solid black;
        text-align: center;
        background-color: gray;
    }

    img{
        width: 25px;
        height: 25px;
        opacity: 0.8;
    }

}