.board-container {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  max-width: 100vw;
  margin-left: 5px;
  margin-top: 6px;
  margin-bottom: 9px;
  flex-grow: 1;
  &::-webkit-scrollbar {
    width: 0.7rem;
    height: 12px;
  }
  // &::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
  //   border-radius: 10px;
  // }
  // &::-webkit-scrollbar-track-piece {
  //   background: rgba(0, 0, 0, 0.301);
  // }

  &::-webkit-scrollbar-track-piece {
    background-color: #060d184f;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc7c763;
    border-radius: 4px;
  }
  .group-list {
    display: flex;
  }
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
