* {
    box-sizing: border-box;
}

html {
    font-family: "montserrat", sans-serif;
    line-height: 1.6;
    font-size: rem(14px);
}

body {
    margin: 0;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: $clr4;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 5px 0;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.4em;
    line-height: 0.9;
}

p {
    margin: 0;
}

pre {
    margin: 0;
    font-family: "montserrat", sans-serif;
}
.member {
    min-width: 28px;
    height: 28px;
    border-radius: 50%;
    line-height: 28px;
    margin: 0 5px 0 0;
    color: white;
    font-weight: 700;
    text-align: center;
    background-color: #3f72af;
    background-size: cover;
    &:hover {
        opacity: 0.8;
    }
}
:root {
    ::-webkit-scrollbar {
        width: 0.6rem;
    }
    ::-webkit-scrollbar-track-piece {
        background: rgba(190, 194, 205, 0.548);
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(9, 30, 66, 0.041);
    }
}

button {
    outline: none;
}
