* {
    box-sizing: border-box;
}

html {
    font-family: "montserrat", sans-serif;
    line-height: 1.6;
    color: $clr4;
    scroll-behavior: smooth;
    font-size: rem(14px);
}

body {
    margin: 0;
    background-color: $clr5;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: $clr4;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.4em;
    line-height: 0.9;
}

p {
    margin: 0;
}

pre {
    margin: 0;
    font-family: "montserrat", sans-serif;
}
.member {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 5px 0 0;
    color: white;
    font-weight: 700;
    background-color: rgb(4, 78, 236);
    text-align: center;
}
