@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: pacifico;
    src: url(../../fonts//Pacifico/Pacifico-Regular.ttf);
}