$clr1: #eeeeee;
$clr2: #4ecca3;
$clr3: #393e46;
$clr4: #30343a;
$clr5: #c7f7e7;
$clr6: #b8b3b3;
$clr7: #e4e0e0;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;