@import "basics/variables.scss";
@import "basics/functions.scss";
// @import "basics/mixins.scss";
@import "basics/typography.scss";

// Basics
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
// @import "basics/buttons.scss";

// Components
@import "pages/BoardApp.scss";
@import "cmps/AppHeader.scss";
@import "cmps/CardPreview.scss";
@import "cmps/CardDetails.scss";
@import "cmps/BoardHeader.scss";
@import "cmps/CardList";
@import "cmps/GroupPreview";
@import "cmps/CardAdd";
@import "cmps/GroupAdd";
@import "cmps/ChangeBackground";
@import "cmps/BoardPhotos.scss";
@import "cmps/BoardColors.scss";
@import "pages/Boards.scss";
@import "cmps/CardSide.scss";
@import "cmps/CardLabels";
@import "cmps/CardCover";
// @import "components/cat-card.scss";
.App {
  height: 100vh;
  background-size: cover;
}
.placeholder {
  width: 300px;
}
//transfer to grouplist

// .my-input {
//   border: none;
//   border-radius: 3px;
//   background-color: unset;
// }

// .my-input:focus {
//   background-color: white;
//   outline: 2px solid rgb(46, 140, 228);
// }
