@import "basics/variables.scss";
@import "basics/functions.scss";
// @import "basics/mixins.scss";
@import "basics/typography.scss";

// Basics
@import "basics/helpers.scss";
@import "basics/layout.scss";
@import "basics/base.scss";
// @import "basics/buttons.scss";

// Components
@import "cmps/AppHeader.scss";
@import "cmps/CardPreview.scss";
@import "cmps/CardDetails.scss";
@import "pages/BoardApp.scss";
@import "cmps/BoardHeader.scss";
@import "cmps/CardList";
@import "cmps/GroupPreview";
@import "cmps/CardAdd";
// @import "components/cat-card.scss";
.App {
  height: 100vh;
}

.my-input {
  border: none;
  border-radius: 3px;
  background-color: unset;
}

.my-input:focus {
  background-color: white;
  outline: 2px solid rgb(46, 140, 228);
}

.board-preview {
  background-color: lightcoral;
}
// FOR CHKS
